.category-card-container {
    .todo {
        margin-top: 1rem;
        .crossed-text {
            text-decoration: line-through;
        }
        .todo__text {
            display: inline-block;
            margin-left: 1rem;
            font-size: 1.1rem;
        }
    }
}